
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
}

cite {
    font-style: normal;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

:root {
    --bc1: hsl(222, 26%, 31%);
    
    --light: 300;
    --regular: 400;
    --bold: 700;

    --light-grey: hsl(0, 0%, 98%);
    --light-grey-blue: hsl(220, 16%, 96%);
    --grayish-blue: hsl(233, 8%, 62%);

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: #31d35c;
    --bright-cyan: hsl(192, 70%, 51%);
    
   
    /* touch-action: pan-x pan-y;
    height: 100%; */
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.wrapper {
    text-align: center;
    padding: 0 15px;
    width: 100%;
    align-items: center;
}
.menu .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    overflow: hidden;
    position: fixed;
    padding: 1.25rem;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo_img {
    z-index: 100;
    fill: #2D314D;
}
.menu-list {
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.5s;
    top: 14%;
    left: 5%;
    right: 5%;
    z-index: 99;
    background: white;
    border-radius: .25rem;
    font-size: 1rem;
    color: var(--grayish-blue);
    list-style: none;
    padding: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.showMenu {
  transform: translateY(0);
}

.menu-list_item {
    padding: .625rem;
    z-index: 99;
}

.hamburger {
    z-index: 100;
}

.close-icon {
    /* width: 22px; */
    display: none;
}

.menu_button {
    display: none;
}

.sectionGap {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

/* Hero start */

.hero {
    position: relative;
}

.hero_right-side {
    overflow: visible;
    background-image: url("../images/image-mockups.png"), url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
    height: 420px;
    width: 100%;
    margin-bottom: 2rem;
}

.hero_header {
    font-size: 2em;
    margin-bottom: 0.625em;
    font-weight: 300;
}

.hero_text {
    margin-bottom: 2rem;
}

.cta-btn {
    font-size: 14px;
    font-weight: var(--bold);
    color: white;
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    padding: .75rem 2rem;
    border-radius: 30px;
    margin-bottom: 4rem;
}

.cta-btn:hover,
.cta-btn:focus {
    opacity: 0.8;
}

.hero_text, .why-us_text, .why-us-list_text {
    color: var(--grayish-blue);
    font-size: 14px;
    line-height: 1.625;
    padding: 0 .2rem;
    margin-top: 1rem;
}

/* Hero end */

/* why us start */
.why-us {
    background-color: var(--light-grey-blue);
}


.why-us_header, .blog_header {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
    padding: 0 2.5rem;
}

.why-us_text {
    margin-bottom: 4rem;
}


.why-us-list_img {
    margin-bottom: 2rem;
}

.why-us-list_text {
    margin-bottom: 2rem;
}


/* why us end */

/* Blog start */

.blog {
    background-color: var(--light-grey);
}

.blog-list_item {
    background-color: white;
    text-align: left;
}

.blog_header {
    margin-bottom: 2rem;
}


.blog-list_img{
    width: 100%;
}

.blog-list_author, .blog-list_text, .blog-list_name {
    padding-left: 1.75rem;
    padding-right: 1rem;
}

.blog-list_author {
    color: var(--grayish-blue);
    font-size: 8px;
    line-height: 1.2;
    padding-top: 2rem;
    margin-bottom: .625rem;
}
.blog-list_name {
    font-weight: 300;
    margin-bottom: .625rem;
}

.blog-list_text {
    color: var(--grayish-blue);
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 2rem;
    padding-right: 1.75rem;
}
/* Blog end */

/* Footer start */

.footer {
    background-color: var(--dark-blue);
    color: white;
}

.footer .logo_img {
    padding: 1.5rem 0;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.social-list_item:not(:last-child) {
    margin-right: 1rem;
}

.footer-list {
    margin-bottom: 2rem;
}

.social-list_icon {
    fill: white;
    width: 1.25rem;
    height: 1.25rem;
}

.footer-list_item {
    font-size: 14px;
    color: var(--grayish-blue);
    margin-bottom: 1rem;
}

.footer_button {
    margin-bottom: 2rem;
}

.footer-credit {
    font-size: 12px;
    color: var(--grayish-blue);
    padding-bottom: 1.25rem;
}
/* Footer end */

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
    
    .sectionGap {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .footer .wrapper {
        padding-top: 1.2rem;
    }

    .footer-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .blog-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px
        }
    
        
        .blog-list_img {
            height: 266px;
        }
}

@media screen and (min-width: 1024px) {

    .wrapper {
        width: 100%;
        padding: 0 11%;
        align-items: center;
        margin: 0 auto;
        text-align: unset;
    }


    .menu .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .menu {
        overflow: visible;
        position: fixed;
        padding: 1rem 1.25rem;
        width: 100%;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .menu-list {
        display: flex;
        position: unset;
        transform: translateY(0);
        transition: transform 0.5s;
        z-index: 99;
        background: white;
        border-radius: .25rem;
        
        list-style: none;
        padding: 0;
        box-shadow: none;
        margin: 0 auto;
        
    }
    
   .logo_img {
       z-index: 100;
       fill: #2D314D;
       align-self: flex-end;
   }
   .showMenu {
       transform: translateY(0);
   }
   .menu-list_item {
       padding: 0;
       z-index: 99;
        position: relative;
   }

   .menu-list_item:not(:last-child) {
       margin-right: 1rem;
   }


    .menu-list_item:hover,
    .menu-list_item:focus {
        color: var(--dark-blue);
    }

   .menu-list_item:hover::after {
        content: '';
        bottom: -1.7rem;
        height: 4px;
        left: 0;
        width: 100%;
        background-color: var(--lime-green);
        position: absolute;
   }
   .hamburger {
       display: none;
   }
   .menu_button {
       display: block;
       margin-bottom: 0;
   }
   
   
   /*Hero start */  
   
   .container {
       margin-top: 72px;
    }
    
    .hero { 
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        height: 651px;
        background-image: url('../images/bc-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    } 
    
    .hero .wrapper {
        padding-right: 0;
        width: 50%;
    }
    
    
    .hero_right-side {   
        background-image: url("../images/image-mockups.png");
        background-repeat: no-repeat;   
        background-size: contain;
        background-position: right;
        height: 939px;
        width: 100%;
    }    
    
    
    .hero_header {  
        font-size: 2em;   
        margin-bottom: 0.625em;    
        font-weight: 300;   
    }  
    
    
    .hero_text {    
        margin-bottom: 2rem;    
    }   
    
    
    .hero_text,
    .why-us_text {
        font-size: 18px;
        line-height: 1.625;
    }
    /*why us */

    .why-us .wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .why-us_header, .blog_header {
        padding: 0;
        font-size: 2.5rem;
    }


    .why-us_list {
        display: flex;
    }

    .why-us-list_item:not(:last-child) {
        margin-right: 20px;
    }
    
    .why-us-list_header {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    
    .why-us-list_text {
        padding: 0;
        font-size: 16px;

    }

    /*blog*/

    .blog .wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .blog-list {
        display: flex;
        justify-content: space-between;
    }

    .blog-list_item {
        width: 22.7%;
    }
    .blog-list_img {
        height: 50%;
    }


    /*footer*/

    .footer {
        padding: 45px 0;
    }
 
    .footer .wrapper {
        display: grid;
        grid-template-columns: 160px 280px 1fr;
        grid-template-rows: repeat(2, 50px);
        grid-row-gap: 0px;
        column-gap: 120px;
        grid-template-areas:
        "a b c"
        "d b e";
        height: 100px;
    } 

    .footer-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100px;
        grid-area: b;
        margin-bottom: 0;
        align-self: center;
        margin-top: 6px;
    }

    .footer-list_item:nth-child(3), .footer-list_item:nth-child(6) {
        margin-bottom: 0;
    }

    .footer-list_item:hover,
    .footer-list_item:focus {
        color: white;
    }

    .footer-logo_link {
        align-self: start;
        justify-self: center;
    }

    .footer .logo_img {
        padding: 0;
    }

    .social-icons-list {
        grid-area: d;
        margin-bottom: 0;
        align-self: center;
    }
    
    .social-list_icon:hover,
    .social-list_icon:focus {
        fill: var(--lime-green)
    }

    .footer_button {
        width: 165px;
        height: 44px;
        justify-self: end;
        margin-bottom: 0;
        align-self: start;
    }

    .footer-credit {
        grid-column-end: e;
        font-size: 16px;
        margin: 0;
        align-self: center;
        justify-self: end;
        padding-bottom: 0;
    }

}